
<div [ngClass]="{'container': !hasError, 'container-error': hasError }">
  <div class="field">{{field}}</div>
  <div class="flex-row input-wrapper" [ngClass]="{'input-wrapper-error': hasError }">
    <img [src]="leftIcon()"/>
    <input 
      [type]="type" 
      [(ngModel)]="text" 
      (ngModelChange)="textChange.emit(text)"
      [placeholder]="placeholder"  
      autocomplete="off"
    />
    @if (icon === 'password') {
      <img [src]="eyeBallIcon()" (click)="toggleShowPassword()"/>
    }
  </div>
  @if (hasError) {
    <div class="error-message">{{errorMessage}}</div>
  }
  @if (showForgotPassword) {
    <div class="forgot-password" (click)="routeTo(ROUTE_NAMES.FORGOT_PASSWORD)">Forgot Password?</div>
  }
</div>




