<img 
  class="object-cover w-full mt-6 h-60 rounded-none sm:rounded-xl sm:mx-auto sm:w-[28rem] sm:h-64 md:w-[32rem] md:h-72"
  src="/forgot.png" 
  alt="Forgot Password Image"
/>

<h1 class="mt-6 mb-2 text-2xl font-bold text-center text-blue-900 sm:text-3xl">
  Forgot Password?
</h1>

<p class="mb-6 text-sm text-center text-gray-500">
  Enter your username below and we’ll send reset instructions to your email.
</p>

<div class="max-w-md px-4 mx-auto sm:px-0">
  <brunch-card>
    @if (sendEmailError) {
      <app-error-message [message]="errorMessage" />
    }

    <brunch-text-input 
      field="UserName"
      [(text)]="userName"
      [hasError]="userNameHasErrors"
      [errorMessage]="userNameErrorMessage" 
    />

    <div class="mt-4">
      <brunch-button
        title="Send Instructions"
        (buttonClick)="sendEmail()"
        [loading]="loading"
        [callToAction]="true"
        [showBorder]="false"
      />
    </div>
  </brunch-card>
</div>
