<img 
  class="object-cover w-full mt-6 mb-8 h-60 sm:w-80 sm:h-60 sm:rounded-xl sm:mx-auto"
  src="/burger2.jpg" 
  alt="Forgot Password Image"
/>

<div class="max-w-md px-4 mx-auto sm:px-0">
  <h1 class="text-2xl font-semibold text-center text-indigo-600">
    Forgot Password?
  </h1>
  <p class="mt-2 text-sm text-center text-gray-600">
    Enter your username below and we’ll send reset instructions to your email.
  </p>

  <div class="mt-8">
    <brunch-card>
      @if (sendEmailError) {
        <app-error-message [message]="errorMessage" />
      }

      <brunch-text-input 
        field="UserName"
        [(text)]="userName"
        [hasError]="userNameHasErrors"
        [errorMessage]="userNameErrorMessage" 
      />

      <div class="mt-4">
        <brunch-button
          title="Send Instructions"
          (buttonClick)="sendEmail()"
          [loading]="loading"
          [callToAction]="true"
          [showBorder]="false"
        />
      </div>
    </brunch-card>
  </div>
</div>
