
<img class="top-image" src="/burger2.jpg"/>
  <div class="title">Forgot Password?</div>
  <div class="instructions">Enter your username below and an email will be sent to you with instructions on how to reset your password</div>
  <div class="card">
    <brunch-card>
      @if (sendEmailError) {
        <app-error-message [message]="errorMessage"/>
      }
      <brunch-text-input 
        field="UserName"
        [(text)]="userName"
        [hasError]="userNameHasErrors"
        [errorMessage]="userNameErrorMessage" 
      />
      <div class="sign-in-button-wrapper">
        <brunch-button
          title="Send Instructions"
          (buttonClick)="sendEmail()"
          [loading]="loading"
          [callToAction]="true"
          [showBorder]="false"
        />
      </div>
    </brunch-card>
</div>

