<div class="w-full overflow-hidden transition bg-white shadow-md cursor-pointer rounded-xl hover:shadow-lg">
  <div class="w-full h-48 bg-gray-200 bg-center bg-cover" [ngStyle]="{ 'background-image': cardStyle }"></div>

  <div class="p-4">
    <h2 class="text-lg font-semibold text-gray-900 truncate">{{ placeName() }}</h2>

    <div class="flex items-center mt-2">
      <brunch-star-rating 
        [selectedOption]="starRating"
        [showTitle]="false"
        [small]="true"
      />
      <span class="ml-2 text-sm text-gray-600">{{ numberOfReviews() }} reviews</span>
    </div>
  </div>
</div>
