@for (review of reviews; track $index) {
  <div class="flex gap-4 pt-6 pb-8 border-t">
    <brunch-place-user-card [userName]="review.userName" (click)="navigateToProfileFor(review)" />

    <div class="flex-1">
      @if (review.burger) {
        <brunch-star-rating
          title="Burger"
          [small]="true"
          [selectedOption]="review.burger"
        />
      }
      @if (review.bloody) {
        <brunch-star-rating
          title="Bloody"
          [small]="true"
          [selectedOption]="review.bloody"
        />
      }

      <p class="mt-2 text-xs text-gray-500">{{ formatDate(review.reviewDate) }}</p>
      <p class="mt-4 text-sm text-gray-800 whitespace-pre-wrap">{{ review.words }}</p>
    </div>
  </div>
}
