@for (review of reviews; track $index) {
  <div class="flex-row container">
    <brunch-place-user-card [userName]="review.userName" (click)="navigateToProfileFor(review)"/>
    <div class="flex-column body">
      @if (review.burger) {
        <brunch-star-rating
          title="Burger"
          [small]="true"
          [selectedOption]="review.burger"
        />
      }
      @if (review.bloody) {
        <brunch-star-rating
          title="Bloody"
          [small]="true"
          [selectedOption]="review.bloody"
        />
      }
      
      <div class="date">{{formatDate(review.reviewDate)}}</div>
      <div class="words">{{review.words}}</div>
      
    </div>
  </div>
}

