.container {
  box-sizing: border-box;
  min-height: 3rem;
}

.title {
  font-size: var(--large);
  margin-right: var(--xsmall);
  width: 4.5rem;
}

input {
  display: none;
}

.star {
  width: var(--large);
  min-width: var(--large);
  aspect-ratio: 1;
  background: lightgray;
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
  margin-right: .25em;
}

.selected {
  background: #F8CA00;
}

.error-message {
  color: red;
}