<div [ngClass]="{container: !small, containerSmall: small}">
  <div class="flex-row">
    @if (showTitle) {
      <div [ngClass]="{title: !small, titleSmall: small}">{{title}}</div>
    }
    @for (option of options; track $index) {
      <label [ngClass]="{selected: selectedOption && selectedOption >= option, star: !small, starSmall: small}" >
        <input type="radio" [(ngModel)]="selectedOption" [value]="option" (change)="onOptionChange()"> 
      </label>
    }
  </div>
  @if (hasError) {
    <div class="error-message">{{errorMessage}}</div>
  }
</div>