.container {
  box-sizing: border-box;
  min-height: 3rem;
  color: var(--font-color);
}

.title {
  font-size: var(--large);
  margin-right: var(--xsmall);
  min-width: min-content;
  padding-right: .25rem;
  color: var(--font-color-card);
  box-sizing: border-box;
}

input {
  display: none;
}

.star {
  width: var(--xlarge);
  min-width: var(--xlarge);
  aspect-ratio: 1;
  /* background: rgb(104, 103, 103); */
  background: var(--body-background-color);
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
  margin-right: .25em;
}

.error-message {
  color: red;
}

.containerSmall {
  box-sizing: border-box;
  min-height: var(--medium);
  color: var(--font-color);
  margin-bottom: var(--small) 0;
}

.titleSmall {
  font-size: var(--medium);
  margin-right: var(--xsmall);
  width: 3rem;
  color: var(--font-color);
}

.starSmall {
  width: var(--medium);
  min-width: var(--medium);
  aspect-ratio: 1;
  /* background: rgb(104, 103, 103); */
  background: var(--body-background-color);
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
  margin-right: .25em;
}

.selected {
  background: var(--font-color-action);
}