<div [ngClass]="{container: !small, containerSmall: small}">
  <div class="flex-row">
    <div *ngIf="showTitle" [ngClass]="{title: !small, titleSmall: small}">{{title}}</div>
    <label *ngFor="let option of options" [ngClass]="{selected: selectedOption && selectedOption >= option, star: !small, starSmall: small}" >
      <input type="radio" [(ngModel)]="selectedOption" [value]="option" (change)="onOptionChange()"> 
    </label>
  </div>
  <div *ngIf="hasError" class="error-message">{{errorMessage}}</div>
</div>