<div class="title">{{title}}</div>
@for (review of reviews; track $index) {
  <div class="flex-row container">
    <brunch-profile-place-card 
      [placeId]="review.placeId"
      [placeName]="review.placeName"
      (click)="navigateToPlace(review)"
    />
    <div class="flex-column body">
      @if (review.burger) {
        <brunch-star-rating
          title="Burger"
          [small]="true"
          [selectedOption]="review.burger"
        />
      }
      @if (review.bloody) {
        <brunch-star-rating
          title="Bloody"
          [small]="true"
          [selectedOption]="review.bloody"
        />
      }
      <div class="date">{{formatDate(review.reviewDate)}}</div>
      <div class="words">{{review.words}}</div>
    </div>
  </div>
}