<h2 class="mt-4 text-xl font-semibold text-center text-blue-900">
  {{ title }}
</h2>

<div class="mt-6 space-y-8">
  @for (review of reviews; track $index) {
    <div class="flex items-start gap-4 pt-4 border-t border-gray-300">
      <brunch-profile-place-card 
        [placeId]="review.placeId"
        [placeName]="review.placeName"
        (click)="navigateToPlace(review)"
      />
      <div class="flex flex-col flex-1">
        @if (review.burger) {
          <brunch-star-rating
            title="Burger"
            [small]="true"
            [selectedOption]="review.burger"
          />
        }
        @if (review.bloody) {
          <brunch-star-rating
            title="Bloody"
            [small]="true"
            [selectedOption]="review.bloody"
          />
        }

        <div class="mt-1 text-sm text-gray-500">{{ formatDate(review.reviewDate) }}</div>
        <div class="mt-2 text-gray-800 whitespace-pre-wrap">{{ review.words }}</div>
      </div>
    </div>
  }
</div>
