.container {
  border-top: 1px solid var(--font-color);
  padding: var(--medium) 0;
  box-sizing: border-box;
  align-items: stretch;
}

.body {
  box-sizing: border-box;
  flex-grow: 1;
  padding: 0 0 0 var(--medium );
  pointer-events: none;
}

.date {
  color: var(--font-color);
  margin-top: var(--xsmall);
}

.words {
  color: var(--font-color);
  margin-top: var(--medium);
}