.mainImage {
  min-width: 100%;
  max-width: 100%;
  min-height: 15rem;
  max-height: 15rem;
  object-fit: cover;
}

.container {
  margin: var(--xsmall) var(--xlarge);
}

.name {
  font-size: var(--large);
  font-weight: 600;
  color: var(--font-color-action);
  margin-top: var(--xsmall);
}

.vicinity {
  font-size: var(--medium);
  margin: var(--xsmall) 0 var(--medium) 0;
  color: var(--font-color);
}

.title {
  font-size: var(--large);
  margin-top: 2rem;
  margin-bottom: var(--small);
  color: var(--font-color-action);
  white-space: nowrap;;
}

@media (width >= 600px) {
  .mainImage {
    min-width: 30rem;
    max-width: 30rem;
    min-height: 20rem;
    max-height: 20rem;
    object-fit: cover;
    display: block;
    margin: var(--large)  auto 0 auto;
    border-radius: var(--border-radius);
  }
  .container {
    width: 30rem;
    margin: 0 auto;
  }
}