<img [src]="mainImageSrc"/>
<div class="name">{{place.name}}</div>
<div class="vicinity">{{place.vicinity}}</div>
<div class="instructions">Leave your review below</div>
<div class="card">
  <brunch-card>
    <div class="star-rating-wrapper">
      <brunch-star-rating
        title="Burger"
        (rating)="handleRating($event)"
      />
    </div>
    <div class="star-rating-wrapper">
      <brunch-star-rating
        title="Bloody"
        (rating)="handleRating($event)"
      />
    </div>
    <div class="comments-instructions">Tell us your thoughts</div>
    <textarea autofocus rows="7"></textarea>
    <div class="inside-button">
      <brunch-button
        title="Post Review"
      />
    </div>
  </brunch-card>
</div>