<img class="mainImage" [src]="mainImageSrc"/>
<div class="container">
  <div class="name">{{place.name}}</div>
  <div class="vicinity">{{place.vicinity}}</div>
  <app-error-message *ngIf="addReviewError" [message]="errorMessage"/>
  <div class="instructions">Leave your review below</div>
  <brunch-card>
    <brunch-star-rating
      *ngFor="let star of stars"
      [title]="star.title"
      (rating)="handleRating($event, star.field)"
      [hasError]="noReviewError"
    />
    <div class="comments-instructions">Tell us your thoughts</div>
    <textarea autofocus rows="7" [(ngModel)]="review.words"></textarea>
    <div class="submit-button">
      <brunch-button
        title="Post Review"
        (buttonClick)="handlePostReview()"
      />
    </div>
  </brunch-card>
</div>