.mainImage {
  min-width: 100%;
  max-width: 100%;
  min-height: 15rem;
  max-height: 15rem;
  object-fit: cover;
}

.container {
  margin: var(--xsmall) var(--xlarge);
}

.name {
  font-size: var(--large);
  font-weight: 600;
  color: var(--font-color-action);
}

.vicinity {
  font-size: var(--medium);
  margin: var(--xsmall) 0 var(--medium) 0;
  color: var(--font-color);
}

.instructions {
  font-size: var(--medium);
  margin: var(--xsmall) 0 var(--xsmall) 0;
  font-size: .75rem;
  color: var(--font-color-card);
}

.comments-instructions {
  font-size: var(--medium);
  font-size: .75rem;
  color: var(--font-color);
}

textarea {
  background-color: transparent;
  border: 1px solid var(--font-color-action);
  outline: none;
  width: 100%;
  margin-top: var(--xsmall);
  box-sizing: border-box;
  color: var(--font-color-action);
  padding: var(--small);
}

.submit-button {
  margin-top: var(--large);
  margin-bottom: var(--small);
}

.error-outline {
  border: 1px solid red;
}