img {
  min-width: 100%;
  max-width: 100%;
  min-height: 15rem;
  max-height: 15rem;
  object-fit: cover;
}

.name {
  margin: var(--medium) 0 0 var(--medium);
  font-size: var(--large);
  font-weight: 600;
}

.vicinity {
  font-size: var(--medium);
  margin: var(--xsmall) 0 var(--medium) var(--medium);
}

.instructions {
  font-size: var(--medium);
  margin: var(--xsmall) 0 var(--xsmall) var(--medium);
  font-size: .75rem;
  color: gray;
}

.card {
  margin: 0 var(--medium);
}

.comments-instructions {
  font-size: var(--medium);
  margin-top: var(--medium);
  font-size: .75rem;
  color: gray;
}

textarea {
  background-color: transparent;
  border: 1px solid var(--card-border-color);
  outline: none;
  width: 100%;
  margin-top: var(--xsmall);
}

.button-container {
  margin: var(--medium) var(--medium);
  flex-direction: row-reverse;
}