<button 
  class="flex flex-col justify-center items-center w-8 h-8"
  (click)="toggleMenu()"
>
  <div 
    class="w-6 h-0.5 bg-blue-900 transition-transform duration-300"
    [ngClass]="{ 'rotate-45 translate-y-1.5': menuOpen }"
  ></div>
  <div 
    class="w-6 h-0.5 bg-blue-900 my-1 transition-all duration-300"
    [ngClass]="{ 'opacity-0': menuOpen }"
  ></div>
  <div 
    class="w-6 h-0.5 bg-blue-900 transition-transform duration-300"
    [ngClass]="{ '-rotate-45 -translate-y-1.5': menuOpen }"
  ></div>
</button>
