.hamburger, .hamburgerClosed {
  width: 2rem;    
}

.hamburger:before,
.hamburger:after,
.hamburger div,
.hamburgerClosed:before,
.hamburgerClosed:after,
.hamburgerClosed div {
  background: var(--font-color);
  content: "";
  display: block;
  height: .12rem;
  border-radius: .18rem;
  margin: var(--small) 0;
  transition: .5s;
}

.hamburger:before {
  transform: translateY(.63rem) rotate(135deg);
}

.hamburger:after {
  transform: translateY(-.63rem) rotate(-135deg);
}
.hamburger div {
  transform: scale(0);
}