button {
  background-color: transparent;
  padding: var(--small) var(--medium);
  font-size: var(--medium);
  width: 100%;
  border: none;
}

.border {
  border: .125rem solid var(--font-color);
  border-radius: var(--border-radius);
}
