<button
  [ngClass]="[
    'h-10 text-base flex items-center justify-center transition-all duration-150 font-medium rounded-2xl',
    callToAction 
      ? 'bg-indigo-600 text-white hover:bg-indigo-700' 
      : 'text-indigo-600',
    showBorder && !callToAction 
      ? 'border border-gray-400 hover:border-indigo-600' 
      : '',
    loading ? 'w-20' : 'w-full'
  ]"
  (click)="clickHandler()"
>
  @if (!loading) {
    <span>{{ title }}</span>
  }
  @if (loading) {
    <img src="/loading.png" class="w-6 h-6 animate-spin" />
  }
</button>
