<img 
  src="/register1.png" 
  alt="Burger" 
  class="object-cover w-full mt-6 h-60 rounded-none sm:rounded-xl sm:mx-auto sm:w-[28rem] sm:h-64 md:w-[32rem] md:h-72"
/>

<h1 class="mt-6 mb-2 text-2xl font-bold text-center text-indigo-600 sm:text-3xl">
  Create Your Account
</h1>

<p class="mb-6 text-sm text-center text-gray-500">
  Enter your information below
</p>

<div class="max-w-md px-4 mx-auto sm:px-0">
  <brunch-card>
    @if (registerError) {
      <app-error-message [message]="errorMessage" />
    }

    <brunch-text-input 
      field="Email"
      [(text)]="email"
      icon="email"
      [hasError]="emailHasErrors"
      [errorMessage]="emailErrorMessage" 
    />

    <brunch-text-input 
      field="UserName"
      [(text)]="userName"
      [hasError]="userNameHasErrors"
      [errorMessage]="userNameErrorMessage" 
    />

    <brunch-text-input 
      field="Password"
      type="password"
      icon="password"
      [(text)]="password"
      [hasError]="passwordHasErrors"
      [errorMessage]="passwordErrorMessage" 
    />

    <div class="mt-4">
      <brunch-button
        title="Create Account"
        (buttonClick)="handleSignIn()"
        [loading]="loading"
        [callToAction]="true"
        [showBorder]="false"
      />
    </div>
  </brunch-card>
</div>
