<img 
  src="/brand-transparent.png" 
  alt="Burger" 
  class="object-contain mx-auto w-80 md:w-full h-60 md:mb-8 sm:h-60 sm:rounded-xl"
/>

<!-- <h1 class="mt-6 mb-6 text-2xl font-bold text-center text-indigo-900 sm:text-3xl">
  What is brunchinator.com?
</h1> -->

<div class="max-w-2xl mx-auto">
  <brunch-card>
    <p class="mt-0">
      It started as a simple tool to help me remember where I liked the bloody mary.
    </p>
    <p class="mt-4">
      Then I wanted to know what my friends thought too. 
      So I added users.
    </p>
    <p class="mt-4">
      Those friends wanted to rate burgers as well as bloodys. 
      So I added burgers.
    </p>
    <p class="mt-4">
      So now you can see what other people have to say, 
      and if you want to leave some reviews yourself you can 
      <span class="font-semibold text-blue-800 cursor-pointer" (click)="routeTo(ROUTE_NAMES.SIGN_UP)">
        create an account
      </span>  
      and join in on the fun.
    </p>
    <p class="mt-4">
      What's next? I have some ideas I'm working on, but it depends what the people want!
      Got an idea for a feature? Send me an email at 
      <span class="font-semibold text-blue-800">admin&#64;brunchinator.com</span> 
      and let's talk!
    </p>
  </brunch-card>
</div>
