<div class="card">
  <brunch-card>
    <h1>Sign In To Your Account</h1>
    <div class="flex-row error-message" *ngIf="signInError">
      <img src="/error.png"/>
      We can't find that username and password.
    </div>
    <brunch-text-input 
      field="UserName"
      [(text)]="userName"
      placeholder="UserName" 
      [hasError]="userNameHasErrors"
      [errorMessage]="userNameErrorMessage" 
    />
    <brunch-text-input 
      field="Password"
      type="password"
      icon="password"
      [(text)]="password"
      placeholder="Password"  
      [hasError]="passwordHasErrors"
      [errorMessage]="passwordErrorMessage" 
    />
    <div class="sign-in-button-wrapper">
      <brunch-button
        title="Sign In"
        (buttonClick)="handleSignIn()"
      />
    </div>
  <div class="sign-up-message">
    Don't have an account? <span class="sign-up-link" (click)="routeTo(ROUTE_NAMES.SIGN_UP)">Sign Up</span>
  </div>
  <div class="forgot-password">
    Forgot Password?
  </div>
  </brunch-card>
</div>

