

  .card {
    box-sizing: border-box;
    width: 80%;
    min-width: 20rem;
    margin: 10% auto 0 auto;
  }

  h1 {
    text-align: center;
    margin-top: 0;
  }
  img {
    height: var(--large);
    width: var(--large);
    margin-right: var(--medium);
  }
  .error-message {
    box-sizing: border-box;
    border: .0625rem solid var(--error-color);
    color: var(--error-color);
    background-color: white;
    padding: var(--medium);
    margin-bottom: var(--medium);
    border-radius: var(--border-radius);
  }
  
  .brunch-text-input-wrapper {
    margin-bottom: var(--medium);
  }

  .sign-in-button-wrapper {
    margin-top: var(--large);
  }

  .sign-up-message {
    margin: var(--large) auto 0 auto;
    text-align: center;
  }

  .sign-up-link {
    color: blue;
    cursor: pointer;
  }

  .forgot-password {
    margin: var(--xsmall) auto 0 auto;
    text-align: center;
    color: blue;
  }

  @media (width >= 600px) {
    .card {
      width: 20rem;
    }
  }