<input 
  type="file" 
  (change)="imageUploadHandler($event)" 
  name="imageInput" 
  id="imageInput" 
  class="hidden"
/>

<div class="flex flex-col items-center space-y-4">
  <div class="w-full max-w-md overflow-hidden shadow-md aspect-video rounded-xl">
    <img 
      [src]="profilePicture" 
      (error)="handleProfilePictureError($event)"
      class="object-cover w-full h-full"
      alt="User Profile Picture"
    />
  </div>

  @if (profileIsSignedInUser) {
    <label for="imageInput">
      <brunch-button
        title="Change Picture"
        [callToAction]="true"
        [showBorder]="false"
        [loading]="loading"
      />
    </label>
  }
</div>
