.container {
  box-sizing: border-box;
  padding-bottom: 1.15625rem;
  margin-bottom: var(--xsmall);
  color: var(--font-color);
}

.container-error {
  box-sizing: border-box;
  padding-bottom: 0;
  margin-bottom: var(--xsmall);
  color: var(--font-color);
}

.input-wrapper {
  box-sizing: border-box;
  padding: var(--small);
  border: .0625rem solid var(--font-color);
  border-radius: var(--border-radius);
  width: 100%;
  font-size: var(--medium);
  color: var(--font-color);
}

img {
  height: var(--large);
  width: var(--large);
}

input {
  outline: none;
  border: none;
  flex-grow: 1;
  padding-left: var(--small);
  background-color: transparent;
  color: var(--font-color-action);
  font-size: 16px;
}

input::placeholder {
  color: var(--font-color-action);
}

input:focus-visible {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.input-wrapper-error {
  border-color: var(--error-color);
}

.error-message {
  box-sizing: border-box;
  padding: 0 var(--small);
  color: var(--error-color);
}

