@if (loading) {
  <div class="flex justify-center items-center min-h-[50vh]">
    <div class="w-16 h-16 border-4 border-indigo-500 border-b-transparent rounded-full animate-spin"></div>
  </div>
}

@if (getPlacesError) {
  <div class="px-4 sm:px-0 max-w-2xl mx-auto mt-6">
    <app-error-message [message]="errorMessage" />
  </div>
}

@for (place of places; track $index) {
  <div 
    class="px-4 sm:px-0 max-w-xl mx-auto mt-6 cursor-pointer"
    (click)="navigateTo(place)"
  >
    <app-place-card [place]="place" />
  </div>
}
