/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  --font-color: #9c988d;
  --font-color-card: #9d957c;
  --font-color-helper: #9198a1;
  /*--card-background-color: black;/* #282828;*/
  --card-background-color: #365355;
  --card-border-color: #c08630;
  --font-color-action: #c08630;
  --body-background-color: #1f4042;
  --error-color: #dd1f1fd5;
  --header-height: 4.4213875rem;/* 70.7422px @ font-size of 16px*/
  --xsmall: .25rem;
  --small: .5rem;
  --medium: 1rem;
  --large: 1.5rem;
  --xlarge: 2rem;
  --border-radius: .75rem;
  --link-color: #4493f8;
  background-color: var(--body-background-color);

}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}