
<img class="top-image" src="/burger2.jpg"/>
  <div class="title">Reset Password</div>
  <div class="instructions">An email has been sent to you with a 5 digit code that you will need to enter below in order to reset your password</div>
  <div class="card">
    <brunch-card>
      <app-error-message *ngIf="registerError" [message]="errorMessage"/>
      <brunch-text-input 
        field="5 Digit Security Code"
        type="number"
        icon="number"
        [(text)]="securityCode"
        [hasError]="securityCodeHasErrors"
        [errorMessage]="securityCodeErrorMessage" 
      />
      <brunch-text-input 
        field="Username"
        [(text)]="userName"
        [hasError]="userNameHasErrors"
        [errorMessage]="userNameErrorMessage" 
      />
      <brunch-text-input 
        field="New Password"
        type="password"
        icon="password"
        [(text)]="password"
        [hasError]="passwordHasErrors"
        [errorMessage]="passwordErrorMessage"
      />
      <div class="sign-in-button-wrapper">
        <brunch-button
          title="Reset Password"
          (buttonClick)="resetPassword()"
          [loading]="loading"
          [callToAction]="true"
          [showBorder]="false"
        />
      </div>
    </brunch-card>
</div>

