<img 
  class="object-cover w-full mt-6 mb-8 h-60 sm:w-80 sm:h-60 sm:rounded-xl sm:mx-auto"
  src="/burger2.jpg" 
  alt="Reset Password Image"
/>

<div class="max-w-md px-4 mx-auto sm:px-0">
  <h1 class="text-2xl font-semibold text-center text-indigo-600">
    Reset Password
  </h1>
  <p class="mt-2 text-sm text-center text-gray-600">
    We’ve sent you a 5-digit code by email. Enter it below along with your new password.
  </p>

  <div class="mt-8">
    <brunch-card>
      @if (resetError) {
        <app-error-message [message]="errorMessage" />
      }

      <brunch-text-input 
        field="5 Digit Security Code"
        type="number"
        icon="number"
        [(text)]="securityCode"
        [hasError]="securityCodeHasErrors"
        [errorMessage]="securityCodeErrorMessage" 
      />

      <brunch-text-input 
        field="Username"
        [(text)]="userName"
        [hasError]="userNameHasErrors"
        [errorMessage]="userNameErrorMessage" 
      />

      <brunch-text-input 
        field="New Password"
        type="password"
        icon="password"
        [(text)]="password"
        [hasError]="passwordHasErrors"
        [errorMessage]="passwordErrorMessage"
      />

      <div class="mt-4">
        <brunch-button
          title="Reset Password"
          (buttonClick)="resetPassword()"
          [loading]="loading"
          [callToAction]="true"
          [showBorder]="false"
        />
      </div>
    </brunch-card>
  </div>
</div>
